@import "vars"
@import "fonts"

//start global style
body 
    font-size: 16px
    font-family: $main-font
    font-weight: 400
 
a 
    text-decoration: none
a:hover 
    color: inherit
    text-decoration: none
.h1 
    font-size: 48px
    font-weight: 500
    font-family: $secondary-font
    font-size: 2.5vw
    color: #fff
    span 
        background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        display: inline
.h1--light 
    color: $black
    span
        background: $linear-dark
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        display: inline 
        
.h2 
    color: #fff
    font-size: 32px 
    font-weight: 700
    font-family: $secondary-font
    margin-bottom: 30px
    span 
        background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        display: inline
.h2--light 
    color: $black
    span
        background: $linear-dark
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        display: inline   
.h3 
    font-family: $secondary-font
    font-weight: 700
    font-size: 20px
    margin-bottom: 0
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #F8ECFF 45.17%, #DAE7FF 77.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
.h3--light
    color: $black
    -webkit-text-fill-color: $black
    text-fill-color: $black

.button 
    font-weight: 500
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    ox-shadow: 5px 4px 15px rgba(157, 85, 201, 0.2)
    border-radius: 10px
    display: inline-block
    padding: 7.5px 40px
    color: $black
    border: none 
    outline: none
.button:focus 
    outline: none
.button--light 
    background: $linear-dark
    color: #fff
.button:hover 
    color: $black
.center 
    text-align: center
.section 
    padding-top: 80px
    padding-bottom: 100px
    border-top: 1px solid #616F86
.section--light  
    border-top: 1px solid #E2E2EC
.section    
    .h1 
        margin-bottom: 30px
.sub-title
    font-weight: 500
    font-family: $secondary-font
    margin-bottom: 15px
//end global style

//start global style dark
.dark 
    background: $dark-background
    color: $stroke

//end global style 

//start global style light

//end global style light
.light
    background: $liner;
    color: $black
//start header style

.header
    border-bottom: 1px solid #616F86
.header__container
    padding-left: 5.521vw
    width: 100%
    padding-top: 15px
    padding-bottom: 15px
    display: flex
    justify-content: space-between
    align-items: center
.header--light
    border-color: #E2E2EC
.search-input
    width: 209px
    height: 29px
    outline: none
    color: $stroke
    border: none
    padding: 0 15px
    padding-right: 35px
    font-size: 12px
    font-weight: 300
    background: url('../img/icons/loop.svg') no-repeat right 17.25px center, linear-gradient(0deg, rgba(15, 15, 55, 0.5), rgba(15, 15, 55, 0.5)), rgba(215, 223, 235, 0.3)
    border-radius: 100px
    text-decoration: none
.search-input--light
    background: url('../img/icons/search2.svg') no-repeat right 17.25px center, linear-gradient(0deg, rgba(215, 223, 235, 0.3), rgba(215, 223, 235, 0.3), rgba(215, 223, 235, 0.3))
    color: $black
.search-input--light:placeholder
    color: rgba($stroke, .3)
.header__left 
    display: flex
    align-items: center
.header__content 
    width: 20.573vw
    display: flex
    align-items: center
    padding-right: 1vw
.header__buttons
    margin-left: 4.219vw
    font-size: 14px
    display: flex
    align-items: center
.login
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #F8ECFF 45.17%, #DAE7FF 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    margin-right: 24px
    white-space: nowrap
    cursor: pointer
.sign-up 
    width: 90px
    height: 29px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 7.17949px
    font-weight: 500
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    cursor: pointer
.sign-up--light
    color: #fff
.login--light
    color: $grey
    -webkit-text-fill-color: $grey
    background-clip: text
    text-fill-color: $grey
    
//end header style

//start switch component
.switch 
    width: 62px
    min-width: 62px
    height: 30px
    border-radius: 40px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px
    font-size: 10px
    font-weight: 500
.switch__button
    width: 22px
    height: 22px
    border-radius: 50%  
    background-color: $black
    background-image: url('../img/icons/lamp.svg')
    background-position: center
    background-repeat: no-repeat
    display: flex
    justify-content: center
    align-items: center
.switch--dark
    background: linear-gradient(91.58deg, #10427A 4.33%, #9D55C9 63.01%, #0F73B7 125.11%)
    color: #fff
.switch--dark:hover 
    color: #fff
.switch__text 
    padding-left: 6px
.switch--light
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #F8ECFF 45.17%, #DAE7FF 77.86%)
    .switch__button 
        background: $blue-gray
        background-image: url('../img/icons/lamp-light.svg')
        background-position: center
        background-repeat: no-repeat
    .switch__text
        padding-left: 0
        padding-right: 6px
        color: $grey

//end switch component

//start content template
.content-wrapper
    display: flex
    justify-content: space-between
    overflow: hidden
    
.left-sidebar--dark
    background: $gray-additional
    border-right: 1px solid #616F86
.left-sidebar
    width: 19.010vw
    min-height: 100%
.right-sidebar
    width: 20.573vw
    min-height: 100%
.right-sidebar--dark
    background: $gray-additional
    border-left: 1px solid #616F86
.left-sidebar--light
    background: rgba(255, 255, 255, 0.3)
    border-right: 1px solid #E2E2EC
.right-sidebar--light 
    background: rgba(255, 255, 255, 0.3)
    border-left: 1px solid #E2E2EC
.right-sidebar,
.left-sidebar 
    padding-top: 25px
    padding-bottom: 30px

.tags-list
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-top: 22.5px
    .tag 
        margin-left: 0
        margin-right: 0
.left-sidebar
    display: flex
    justify-content: center
.sidebar__title-wrapper
    text-align: center
    padding-bottom: 25px
    border-bottom: 1px solid $grey
.sidebar__item
    padding: 15px 1.563vw
    border-bottom: 1px solid $grey
.sidebar__item-header
    display: flex
    align-items: center
    margin-bottom: 5px
.sidebar__item-icon
    width: 30px
    min-width: 30px
    height: 30px
    border-radius: 50%
    display: block
    margin-right: 10px
.sidebar-item__title
    font-weight: 500
.salary
    font-weight: 700
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    margin-left: 25px
.sidebar__item-text
    font-size: 14px
    font-weight: 300
.sidebar__tag
    font-size: 12px
    font-weight: 600
    background: $grey
    display: inline-block
    padding: 5.5px 15px
    border-radius: 100px
    margin-right: 5px
    margin-top: 5px
.sidebar__tag-list
    display: flex
    flex-wrap: wrap 
    align-items: center
.tag.tag--all 
    background: $linear-dark
    span 
        color: #fff
        -webkit-text-fill-color: #fff
        text-fill-color: #fff
.right-sidebar--light
    .sidebar__tag 
        background: $blue-gray
//end content template

//start footer style
.footer
    background: $gray-additional
    border-top: 1px solid #616F86
    padding-top: 52.5px
    padding-bottom: 52.5px
    .container-fluid 
        max-width: 100%
        display: flex
        justify-content: center
        flex-wrap: wrap
.tag 
    background: $blue-gray 
    display: inline-block
    padding: 5.5px 15px
    border-radius: 100px
    font-size: 12px
    font-weight: 600
    margin: 7.5px 7.5px
    white-space: nowrap
    span
        background: $dark-background
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent  
.footer--light
    background: $dark-background

//end footer style

//start main content
.main-content
    width: 60.417vw
.main-screen
    display: flex
    justify-content: center
    padding-left: 2vw
    padding-right: 2vw
    padding-top: 95px
    padding-bottom: 95px
    .h1 
        max-width: 29.844vw
        width: 29.844vw
        
        
.main-screen__img-wrapper
    position: relative
    padding-left: 2.083vw
.main-screen__code
    position: absolute
    bottom: 0
    left: 0
    transform: translateX(-60%) translateY(8%)
.main-screen__text
    margin-bottom: 30px
    font-weight: 300
    max-width: 470px
    span 
        font-weight: 500
.main-screen__img
    width: 18.281vw
.main-screen__code
    width: 14.167vw
.main-screen__bubles
    position: absolute 
    top: 100% 
    right: 0
    transform: translateY(-50%) translateX(27%)
    width: 7.240vw
//end main-content

//start slick style
.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-webkit-touch-callout: none
	-khtml-user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent
.slick-list
	position: relative
	display: block
	overflow: hidden
	margin: 0
	padding: 0
.slick-list:focus
	outline: none
.slick-list.dragging
	cursor: pointer
	cursor: hand
.slick-slider .slick-track,
.slick-slider .slick-list
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
.slick-track
	position: relative
	top: 0
	left: 0
	display: block
	margin-left: auto
	margin-right: auto
.slick-track:before,
.slick-track:after
	display: table
	content: ''
.slick-track:after
	clear: both
.slick-loading .slick-track
	visibility: hidden
.slick-slide
	display: none
	float: left
	height: 100%
	min-height: 1px
[dir='rtl'] .slick-slide
	float: right
.slick-slide img
	display: block
.slick-slide.slick-loading img
	display: none
.slick-slide.dragging img
	pointer-events: none
.slick-initialized .slick-slide
	display: block
.slick-loading .slick-slide
	visibility: hidden
.slick-vertical .slick-slide
	display: block
	height: auto
	border: 1px solid transparent
.slick-arrow.slick-hidden
	display: none
//end slick style

//start item style
.item 
    background: $gray-additional
    border: 1px solid #616F86
    border-radius: 10px
    padding: 1.042vw
    padding-bottom: 1.823vw
    text-align: center
.slider__item
    padding: 8px 
.item__img 
    width: 100%
.item-star
    width: 24px
    height: 24px
    background: url('../img/icons/star.svg')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
.item-star.active 
    background: url('../img/icons/starfill.svg')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
.item__star-wrapper
    display: flex
    justify-content: flex-end
    padding-bottom: 0.885vw
.item__sub-title
    font-size: 14px
    line-height: 1.2
    min-height: 72px
    margin-top: 3px
.item__title 
    margin-bottom: 5px
    min-height: 48px
.item__text
    font-size: 14px
    font-weight: 300
    margin-bottom: 10px
.item__link 
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    font-weight: 500
    position: relative
.item__link:after
    content: ''
    position: absolute
    width: 100%
    height: 1px 
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    bottom: 0
    left: 0
.item__link--light
    background: $linear-dark
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.item__link--light:after 
    background: $linear-dark
.item--light 
    background: rgba(255, 255, 255, 0.3)
    border: 1px solid #E2E2EC; 
.item-star--light
    background: url('../img/icons/star-light.svg')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat
.item-star--light.active 
    background: url('../img/icons/starfill-light.svg')
    background-size: 100%
    background-position: center
    background-repeat: no-repeat

//start tutorials style
.tutorials__slider
    margin-top: 12px
.tutorials__slider-item
    padding: 1vw
.tutorials__slider-item-wrapper
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    min-height: 185px
    border-radius: 10px
    overflow: hidden
.tutorials__slider-item-wrapper
    display: flex
    align-items: center
.tutorials__slider-content 
    margin-left: 2.865vw
.tutorials__slider-title 
    font-size: 32px
    font-weight: 700
    font-family: $secondary-font
    color: #fff
    margin-bottom: 10px
    line-height: 1
.tutorials__slider-text
    font-weight: 300
    margin-bottom: 15px
.slick-dots
    padding-left: 0
    list-style: none
    display: flex 
    justify-content: center
    margin-top: 25px
    margin-bottom: 0
    li 
        margin: 0 2.5px
        button 
            font-size: 0
            border: none
            width: 10px 
            height: 10px 
            border-radius: 50%
            padding: 0
            background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
            opacity: 0.2
            outline: none
    li.slick-active 
        button 
            width: 15px 
            height: 15px 
            opacity: 0.6
.tutorials__slider-item-wrapper--light
    background: linear-gradient(99.92deg, #5C6E9F 8.23%, #B26FDF 48.78%, #669DD0 91.69%)
.tutorials__slider-text--light 
    color: #fff
.tutorials.section--light 
    .slick-dots 
        li 
            button
                background: linear-gradient(99.92deg, #5C6E9F 8.23%, #B26FDF 48.78%, #669DD0 91.69%)
                opacity: 0.2
        li.slick-active 
            button
                background: linear-gradient(99.92deg, #5C6E9F 8.23%, #B26FDF 48.78%, #669DD0 91.69%)
                opacity: 0.6


//end tutorials style

//start news style
.news__slider-item
    padding: 0 0.938vw
.news__slider-item-wrapper
    border: 1px solid #E2E2EC
    border-radius: 10px
    min-height: 100%
.news__img
    height: 170px
    img 
        height: 100% 
        width: 100% 
        object-fit: cover 
        object-position: center top
        border-top-left-radius: 10px 
        border-top-right-radius: 10px
.news__item-content
    padding: 10px 0.781vw 1.250vw 0.781vw
.tags
    white-space: nowrap
    .tag 
        margin: 0 
        margin-right: 0.260vw
        padding: 1.5px 0.6vw
.tab-style
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    font-weight: 500
.tab-style--light
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.news__item-title
    margin-top: 10px 
    margin-bottom: 5px
.news__text
    font-size: 14px
    font-weight: 300
    line-height: 1.2
.news__link
    display: block 
    margin-top: 10px
    position: relative
.news__link:after 
    content: '' 
    position: absolute 
    width: 100% 
    height: 1px 
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    top: 100% 
    left: 0
.news__item-header
    display: flex 
    justify-content: space-between
    align-items: center
.news__link.tab-style--light:after
    content: '' 
    position: absolute 
    width: 100% 
    height: 1px  
    background: $linear-dark
    top: 100% 
    left: 0

//end news style

//start cta style
.cta 
    padding-top: 126px
    padding-bottom: 160px
.cta__content
    padding-top: 80px 
    padding-bottom: 100px
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    border: 1px solid #616F86
    text-align: center
    position: relative
    p
        width: 550px
        max-width: 100% 
        margin: 0 auto
        color: #fff
    .h1 
        margin-bottom: 25px
        background: linear-gradient(97.58deg, #F5F5F5 15.26%, #F8ECFF 45.17%, #DAE7FF 77.86%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
.cta-left-buble
    position: absolute 
    top: 0
    left: 0
    transform: translateY(-33%) translateX(-38%)
.cta-right-buble
    position: absolute
    top: 100%
    right: 0
    transform: translateY(-33%) translateX(30%)
//end cta style 

//start founder style
.founder 
    border-top: none
    padding-top: 50px
    .container-fluid 
        padding-left: 5.208vw
        padding-right: 5.208vw
.founder__text-wrapper
    width: 624px
    max-width: 70% 
.founder__content
    display: flex
    justify-content: space-between
    align-items: center
.faunder__name
    font-size: 20px 
    font-weight: 700 
    font-family: $secondary-font
    margin-top: 10px 
    text-align: center
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.faunder__name--light
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
//end founder style

//start madal style
.modal-window 
    background: rgba(#270C41, 0.7)
    position: fixed 
    top: 0 
    left: 0 
    width: 100% 
    height: 100%
    z-index: 9999
    overflow-y: auto
    display: none
.modal-contnet 
    position: absolute 
    left: 50% 
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    width: 623px 
    max-width: 91.2vw
    padding: 60px 116px 52px 116px
    background: #270C41
    border: 1px solid #616F86
    border-radius: 25px
    text-align: center
    .h1 
        margin-bottom: 35px
.close-button 
    position: absolute 
    display: block 
    cursor: pointer
    top: 31px
    right: 35px
.input 
    width: 100%
    height: 40px 
    background: rgba(15, 15, 55, 0.5)
    border-radius: 100px
    border: none
    padding: 0 20px
    color: $blue-gray
    outline: none
    font-weight: 300
    
.input::placeholder 
    color: rgba($blue-gray, 0.5)
    font-weight: 300
.input:focus::placeholder 
    color: transparent
.input-wrapper
    margin-bottom: 15px
.password 
    position: relative
.password-control 
    position: absolute 
    top: 50% 
    transform: translateY(-50%)
    right: 20px
    cursor: pointer
    display: flex 
    justify-content: center 
    align-items: center
    width: 17.28px 
    height: 17.28px
    img 
        width: 17.28px 
        height: 17.28px
.input-wrapper--submit
    .button 
        margin-top: 10px   
.form-btn
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent 
    text-decoration: underline
    position: relative 
    cursor: pointer
.form__row
    opacity: 0.5
    color: #616F86
    margin-bottom: 15px
 

.form-btn:after 
    content: ''
    width: 100% 
    height: 0.5px 
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    position: absolute 
    top: 100%
    left: 0
.modal-social__item 
    margin: 0 11px
.modal-window--login
    .password 
        margin-bottom: 0

.or 
    opacity: 0.5
    color: #616F86
    margin-bottom: 18px
.or.white 
    opacity: 1
    color: #D7DFEB
.forgot-password
    text-align: left
    display: block
    padding-left: 22px
    margin-bottom: 25px
    opacity: 0.5
    color: #616F86
    cursor: pointer
.forgot-password:hover 
    opacity: 0.5
    color: #616F86
.button 
    cursor: pointer
.modal-window--reset-password
    .h1 
        margin-bottom: 10px
.modal-contnet--light
    background: #fff
.input--light
    background: rgba(215, 223, 235, 0.3)
    color: $black
    font-weight: 500
.input--light::placeholder
    background: linear-gradient(92.69deg, rgba(12, 37, 65, 0.3) 4.52%, rgba(49, 10, 73, 0.3) 49.16%, rgba(5, 41, 66, 0.3) 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.input-wrapper--submit
    .button--light 
        color: #fff
.form-btn--light
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.form__row--light
    opacity: 1
    color: $blue-gray
.form-btn--light:after 
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
.or--light
    color: $blue-gray
    opacity: 1
.or.black 
    color: #616F86
    opacity: 1
//end modal tyle

//start tag page style
.main-screen__content 
    .tag 
        margin-left: 0
        margin-right: 5px
.news .col-md-4
    margin-bottom: 30px
.news__slider-item-wrapper 
    position: relative
    padding-bottom: 40px
.news__link
    position: absolute 
    left: 0.781vw 
    bottom: 24px
.teme-path
    .item__title 
        min-height: 74px
.teme-path
    .slider-wrapper 
        width: 715px 
        max-width: 100%
        margin: 0 auto
//end tage page style

//start path style
.path__item-header
    display: flex 
    justify-content: space-between
    padding: 15px 27px 25px 25px
    cursor: pointer
.path__item
   background: rgba(15, 15, 55, 0.5)
   border: 1px solid #616F86 
   margin-bottom: 10px
.path__item-title
    display: flex
    align-items: flex-end
.path__item-title
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    font-family: $secondary-font
    font-weight: 700
    line-height: 1
    .path__item-num 
        font-size: 32px
        line-height: 1
        min-width: 34px 
        margin-right: 14px
        background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
.path__item-content
    padding-left: 25px 
    padding-right: 27px
    padding-bottom: 35px
    padding-top: 5px
    display: none
    
    .button 
        margin-top: 20px
    p 
        font-weight: 300
.path__item-content-title
    font-weight: 500
    margin-bottom: 19px
    font-family: $secondary-font
    color: $stroke
.check-icon
    margin-right: 12px 
    display: none
.path__right
    display: flex 
    align-items: center
.open-icon 
    transition: all 0.3s
.path__item.active 
    .open-icon 
        transform: rotate(-180deg)
.path__item--light
    background: rgba(255, 255, 255, 0.3)
    border: 1px solid #E2E2EC
.open-icon.no-active 
    opacity: 0.3
.path__item-title--light
    background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
    .path__item-num 
        background: linear-gradient(92.69deg, #295A92 4.52%, #9D55C9 49.16%, #0F73B7 96.4%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
.path__item-content-title--light
    background: linear-gradient(92.69deg, #0C2541 4.52%, #310A49 49.16%, #052942 96.4%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent
.button--light:hover 
    color: #fff
//end path style

//start vacancie style
.main-screen__text--300
    width: 331px 
    max-width: 100%
.main-screen__img-wrapper--vacancie
    .main-screen__bubles
        transform: translateX(30%) translateY(-80%)
.job-description__item 
    margin-bottom: 30px
    p,
    li 
        font-weight: 300
    li 
        margin-bottom: 20px
.job-description__footer 
    display: flex 
    justify-content: center
.job-description
    position: relative
.job-description__icon
    position: absolute 
    top: 60px 
    left: 0
    transform: translateX(-60%)
.job-description__icon2
    position: absolute 
    top: 50%
    right: 0
.vacancies-content__header 
    margin-bottom: 136px
//end vacancie style

//start select style
/* The container must be positioned relative: */
.custom-select
    position: relative
    margin-right: 15px
.custom-select select
    display: none
.select-selected
    background-color: $blue-gray
    box-shadow: 5px 4px 10px rgba(189, 199, 210, 0.4)
    border-radius: 100px
.select-selected:after
    position: absolute
    content: url('../img/icons/down.svg')
    top: 50%
    right: 15px
    transform: translateY(-50%)

.select-items div
    color: #ffffff
    padding: 1.5px 15px
    cursor: pointer
    font-size: 12px
    cursor: pointer
    border-bottom: none
    color: $black
.select-selected
    font-size: 14px
    height: 29px
    display: flex 
    align-items: center
    padding: 1.5px 15px
    position:  relative 
    z-index: 999
    color: $black
    font-weight: 600
    cursor: pointer
.select-items
    position: absolute
    background-color: rgba($blue-gray, .5)
    top: 18px
    left: 0
    right: 0
    z-index: 99
    border-bottom-left-radius: 15px 
    border-bottom-right-radius: 15px
    padding-top: 15px
    padding-bottom: 15px

.select-hide
    display: none
//end select style

//start vacancies header 
.vacancies-content__header
    display: flex 
    align-items: center
.vacancie-search
    margin-right: 60px
.job-description__icon--v
    top: 110px 
    opacity: 0.5
.job-description__icon2--v 
    right: -45px
    opacity: 0.5
    z-index: 0
    top: 75%
.selects-wrapper
    display: flex
.main-screen__text--light
    color: #616F86
//end vacancies header 

//start articles style
.tabs
    display: flex 
    justify-content: center
    margin-bottom: 39px
.tab 
    background: #D7DFEB
    margin: 0 7.5px
    padding: 0 15px
    color: $black
    border-radius: 100px
    cursor: pointer
    font-weight: 600
    font-size: 12px
    height: 29px
    display: flex 
    justify-content: center 
    align-items: center
    white-space: nowrap
.tab.active 
    background: linear-gradient(97.58deg, #F5F5F5 15.26%, #DEBAF4 45.17%, #B0CAFC 77.86%)
.tab__item 
    display: none 
.tab__item:first-child 
    display: block
.tab--light.active
    background: $linear-dark
    color: #fff
//end articles style 

//start article 
.main-screen .h1--450
    width: 25vw
.main-screen__footer
    display: flex 
    align-items: center
.article-star
    margin-left: 20px
.article-content
    font-weight: 300
.article-img
    width: 100%
    display: block 
    margin-bottom: 25px
    z-index: 1
    position: relative
.article-content
    .job-description__icon2--v
        top: 64%
        z-index: 0
    .job-description__icon--v
        top: 0
//end article 

@import "media"



